@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');

$primary-font: "Metrophobic", sans-serif;
$primary-color: #141414;
$primary-bg-color: #141414;

$main: #7b61ff;
$secondary: #a3714e;
$light: #ffffff;
$dark: #000000;
$heading: #ffffff;
$body: #cccdd2;
$body2: #a1a0a1;
$bodybg: #00031c;
$btn-bgcolor: #9e61ff;
$btn-color: #ffffff;
$btn-bgcolor2: #619bff;
$btn-color2: #ffffff;
$btn-bgcolor3: #6c52ee;
$font-size-sm: 14px;
$line-height-sm: 19.6px;
$input-background: #191c33;
$input-background2: #31344b;
$background-item: #191c33;
$background-body: #00031c;
$border-color: #292c41;
$border-color2: #80818d;
$full-fd: 70px;